// ==========================================================================
//   Materialize raamwerk variabelen (overschrijven van default-waarden)
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar

// 99. DgPi Raamwerk Variabelen


// 1. Colors
// ==========================================================================

$primary-color: color("green", "darken-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("grey", "lighten-2");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");


// 3. Buttons
// ==========================================================================

// Shared styles
$button-background-focus: lighten($secondary-color, 4%);

// Raised buttons
$button-raised-background: $secondary-color;

// Floating buttons
$button-floating-background: $secondary-color;


// 8. Date + Time Picker
// ==========================================================================

$datepicker-weekday-bg: darken($secondary-color, 7%);
$datepicker-date-bg: $secondary-color;
$datepicker-selected: $secondary-color;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%);
$datepicker-day-focus: transparentize(desaturate($secondary-color, 5%), .75);

// 9. Dropdown
// ==========================================================================

$dropdown-color: $secondary-color;

// 10. Forms
// ==========================================================================

// Text Inputs + Textarea
$input-error-color: $error-color;
$input-success-color: $success-color;
$input-focus-color: $secondary-color;

// Radio Buttons
$radio-fill-color: $secondary-color;

// Select
$select-focus: 1px solid lighten($secondary-color, 47%);

// Switches
$switch-bg-color: $secondary-color;

// 16. Spinners | Loaders
// ==========================================================================

$spinner-default-color: $secondary-color;


// 17. Tabs
// ==========================================================================

$tabs-underline-color: $primary-color-light;
$tabs-text-color: $primary-color;


// 21. Footer
// ==========================================================================

$footer-bg-color: $primary-color;


// 23. Collections
// ==========================================================================

$collection-active-bg-color: $secondary-color;
$collection-active-color: lighten($secondary-color, 55%);
$collection-link-color: $secondary-color;


// 24. Progress Bar
// ==========================================================================

$progress-bar-color: $secondary-color;



// ==========================================================================
// 99. DgPi Raamwerk Variabelen
// ==========================================================================

$padding-1: 1px;
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;

$root-font-family: "RO Sans";
$root-font-size: 80%;