<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">

<head>
  {{ partial "dgpi/html-head" . }}
</head>

<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
    {{ block "header" . }}
      <!-- Header Bar, Lines etc. -->
    {{ end }}
    {{ block "main" . }}
      <!-- Sub Bar, Selection, Details, etc. -->
    {{ end }}
    {{ block "footer" . }}
      <!-- Footer, Site Identity etc. -->
    {{ end }}
    <!-- Materialize Framework JavaScript -->
    {{ with resources.Get "js/materialize/bin/materialize.js" }}
      <script src="{{ .Permalink }}"></script>
    {{ end }}
    <!-- DgPi Framework JavaScript -->
    {{ with resources.Get "js/dgpi/dgpi.js" }}
      <script src="{{ .Permalink }}"></script>
    {{ end }}
</body>
