{{/*

    hp-002-side-nav

    Context: .Page

*/}}

<div class="hp-002-side-nav">
    <ul id="dgpi-side-nav" class="sidenav">
        {{ range (partial "dgpi/data/page-list" .) }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }} ></a>
        </li>
        {{ end }}
    </ul>
</div>
