{{ $logo := resources.Get "images/logo-zinl-text.png" }}
{{ $logo := $logo.Fit "150x150" }}

<div class="hp-000">
    <div class="brand-logo center">
        <img src="{{ $logo.Permalink }}">
    </div>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-target="dgpi-side-nav" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
            <form class="right">
                <div class="input-field left">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>
