{{/*

    hp-002

    Context: .Page

*/}}

<div class="hp-002">
    <ul>
        {{ range (partial "dgpi/data/page-list" .) }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }} ></a>
        </li>
        {{ end }}
    </ul>
</div>