<div class="hp-footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                iStd DgPi TUX-verkenning
            </div>
        </div>
    </footer>
</div>