<main class="hp-main">
    {{ partial "dgpi/hp-001" . }}
    <div class="show-on-med-and-down">
        {{ partial "dgpi/hp-002-side-nav" .Parent }}
    </div>
    <div class="row">
        <div class="col s3 hide-on-med-and-down dgpi-secondary">
            {{ partial "dgpi/hp-002" .Parent }}
        </div>
        <div class="col"> </div>
        <div class="col s8">
            {{ partial "dgpi/hp-003" . }}
        </div>
    </div>
</main>