<!-- meta charset="UTF-8"> -->

{{- template "_internal/opengraph.html" . -}}

<title>{{ partial "dgpi/html-head-title" . }}</title>

{{- range .Translations }}
  <link rel="alternate" hreflang="{{ default .Language.Lang .Site.LanguageCode }}" href="{{ .Permalink }}" title="{{ partial "dgpi/title" . }}">
{{- end -}}

{{ partial "dgpi/styles" . }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
